@import "./variables.scss";
@import "./mixin.scss";
@import "./sidebar.scss";
@import "./transition.scss";
@import "./element-ui.scss";

body{
    height: 100%;
}
html{
    height: 100%;
}
#app{
    height: 100%;
}